<div class="navbar wrapper bg-white border-bottom">
  <div class="container center py2">
    <div class="inline-block px2">
      {{link-to "About" "about" class="nav-link"}}
    </div>
    <div class="inline-block">
      {{link-to "WarmBodies" "index" class="h1 bold"}}
    </div>
    <div class="inline-block px2">
      {{link-to "Contact" "contact" class="nav-link"}}
    </div>
  </div>
</div>
<div class="sm-show background-wrapper bg-color {{if (eq navigator.currentPath "index") "full" "half"}}">
</div>
<div class="container">
  <div class="clearfix">
    <div class="col sm-col-12 md-col-6 p4">
      <h2 class="massive-lead mt0">Warm<br> Bodies</h2>
      <p class="lead">
      Bootstrap Your<br> Startup To Scale
      </p>
    </div>
    <div class="col sm-col-12 md-col-6 p4">
      {{outlet}}
    </div>
  </div>
</div>
